
.container-content{
    max-width: 1170px;
    margin: 0 auto;
}
.wp-first-content{
    background-color: #F5FAFF;
}
.wp-first-content .first-content{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    padding-top: 50px;
}
.wp-first-content .first-content .image{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    position: relative;
}
/* .wp-first-content .first-content .image .border-top-image{
    display: none;
    position: absolute;
    width: 100%;
    height: 8px;
    top: -78px;
    left: 0px;
    background-color: #ee2624;
    z-index: 11;
} */
.wp-first-content .first-content .image .background-img{
    width: 100%;
    background-image: url('../images/image-4.jpg');
    min-height: 400px;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.wp-first-content .first-content .detail{
    width: 100%;
    padding: 30px 20px 30px 50px;
}
.wp-first-content .first-content .background-top{
    width: 100%;
    min-height: 75px;
    position: absolute;
    top: -70px;
    left: 0px;
    background-color: #fff;
    z-index: 9;
    display: none;
}
.wp-first-content .first-content .detail h4{
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ed1c24;
}
.wp-first-content .first-content .detail h2{
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 52px;
    color: #1d2143;
}
.wp-first-content .first-content .detail h2 strong{
    font-weight: 700;
}
.wp-first-content .first-content .detail .desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 2rem;
    color: #000;
    margin-bottom: 40px;
    text-align: justify;
}
.wp-first-content .first-content .detail .wp-icon{
    display: flex;
    flex-wrap: wrap;
}
.wp-first-content .first-content .detail .wp-icon .icon{
    width: 100%;
    padding-right: 15px;
    display: flex;
    padding-bottom: 20px;
}
.wp-first-content .first-content .detail .wp-icon .icon .box-icon{
    width: 25%;
    display: flex;
    align-items: center;
}
.wp-first-content .first-content .detail .wp-icon .icon .box-icon i{
    font-size: 50px;
    color: #ed1c24;
}
.wp-first-content .first-content .detail .wp-icon .icon .info{
    width: 75%;
}
.wp-first-content .first-content .detail .wp-icon .icon .info h4{
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 5px;
    color: #1d2143;
    text-transform: unset;
}
.wp-first-content .first-content .detail .wp-icon .icon .info p{
    line-height: 1.5rem;
}
.wp-category .content-header{
    text-align: center;
    padding: 80px 10px 30px 10px;
}
.wp-category .content-header h4{
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ed1c24;
}
.wp-category .content-header h2{
    font-weight: 300;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 52px;
    color: #1d2143;
}
.wp-category .content-header h2 strong{
    font-weight: 500;
}
.wp-category{
    padding-bottom: 120px;
    position: relative;
}
.wp-category::after{
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(0deg, #fff 100%, #fff 100%);
    content: "";
    z-index: 0;
}

.wp-category .list-category .category{
    padding-left: 10px;
    padding-right: 10px;
}
.list-category .category .wp-detail{
    margin: 10px 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff0;
    box-shadow: 0px 0px 10px 0px rgb(43 52 59 / 10%);
    transition: all ease-in-out 0.5s;
}
.list-category .category .wp-detail:hover{
    margin: 0px 0 20px;
}
.list-category .category .wp-detail .background-icon{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.list-category .category .wp-detail .background-icon i{
    font-size: 170px;
    color: #e6e6e66b;
    padding-left: 40%;
    padding-top: 20px;
}
.list-category .category .wp-detail .header-cat{
    padding: 30px 20px 15px 30px;
    border-bottom: 1px solid rgb(235, 233, 233);
}
.list-category .category .wp-detail .header-cat i{
    color: #ed1c24;
    font-size: 50px;
}
.list-category .category .wp-detail .content-cat {
    padding: 30px;
    border-bottom: 1px solid rgb(235, 233, 233);
    z-index: 1;
    position: relative;
}
.list-category .category .wp-detail .content-cat a{
    display: block;
    color: #1d2143;
    font-size: 19px;
    line-height: 25px;
    font-weight: 500;
    padding-bottom: 20px;
}
.list-category .category .wp-detail .content-cat a:hover{
    color: #b9030a;
}
.list-category .category .wp-detail .content-cat .detail{
    line-height: 1.5rem;
    font-weight: 400;
    min-height: 72px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-align: justify;
}
.list-category .category .wp-detail .bottom-cat{
    padding: 20px 30px;
}
.list-category .category .wp-detail .bottom-cat a{
    color: #ed1c24;
    font-weight: 500;
}
.wp-category .text{
    width: 100%;
    z-index: 2;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    color: #1D2143;
}
.wp-category .text a{
    color: #b9030a;
    font-weight: 500;
}
.wp-register{
    padding: 85px 0px;
    background-color: #682828de;
    color: #fff;
}
.wp-register .wp-header-register{
    padding: 20px 10px;
    text-align: center;
}
.wp-register .wp-header-register h4{
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ff4046;
}
.wp-register .wp-header-register h2{
    font-weight: 300;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 52px;
}
.wp-register .wp-content-register{
    display: flex;
    flex-wrap: wrap;
}
.wp-register .wp-content-register .wp-detail{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.wp-content-register .wp-detail .header-detail{
    width: 80px;
    height: 70px;
    margin: 20px auto;
    background-color: #ed1c24;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wp-content-register .wp-detail .header-detail .border-header{
    display: none;
}
.wp-content-register .wp-detail .header-detail span{
    padding: 3px 7px;
    background-color: #fff;
    color: #1d2143;
    border-radius: 50%;
    font-size: 13px;
}
.wp-content-register .wp-detail .detail h2{
    line-height: 25px;
    font-size: 19px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.wp-content-register .wp-detail .detail .body-detail{
    position: relative;
}
.wp-content-register .wp-detail .detail .icon{
    position: absolute;
    font-size: 50px;
    top: -70px;
    left: 50%;
    transform: translateX(-40%);
    font-weight: 100;
}
.wp-content-register .wp-detail .detail .desc{
    color: rgba(255, 255, 255, 0.95);
    line-height: 2rem;
    font-weight: 400;
    padding: 0 10px;
}
.wp-why-choose{
    padding: 50px 0;
}
.wp-why-choose .why-choose{
    display: flex;
    flex-wrap: wrap;
}
.wp-why-choose .why-choose .wp-detail,
.wp-why-choose .why-choose .wp-image{
    width: 100%;
    padding: 0 10px;
}
.wp-why-choose .why-choose .wp-detail .header-detail h2{
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ed1c24;
    margin-top: 30px;
}
.wp-why-choose .why-choose .wp-detail .header-detail h4{
    font-weight: 300;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 42px;
    color: #1d2143;
}
.wp-why-choose .why-choose .wp-detail .header-detail h4 strong{
    font-weight: 600;
}
.wp-why-choose .why-choose .wp-detail .content-detail{
    padding: 20px 0;
}
.wp-why-choose .why-choose .wp-detail .content-detail .desc-1{
    color: #898a9c;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;
}
.wp-why-choose .why-choose .wp-detail .content-detail .desc-2{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #898a9c;
    margin-bottom: 15px;
    text-align: justify;
}
.wp-why-choose .why-choose .wp-detail .content-detail .wp-icon{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.wp-why-choose .why-choose .wp-detail .content-detail .wp-icon .icon{
    display: table-cell;
    width: 40px;
    border: 3px solid #d3d3d3e7;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
    position: relative;
    height: 100%;
}
.wp-why-choose .why-choose .wp-detail .content-detail .wp-icon .icon .box-icon{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    color: #ed1c24;
}
.wp-why-choose .why-choose .wp-detail .content-detail .wp-icon:hover .icon{
    width: 80px;
}
.wp-why-choose .why-choose .wp-detail .content-detail .wp-icon .info{
    display: table-cell;
    padding-left: 60px;
    transition: all ease-in-out 0.3s;
}
.wp-why-choose .why-choose .wp-detail .content-detail .wp-icon:hover .info{
    padding-left: 30px;

}
.wp-why-choose .why-choose .wp-detail .content-detail .wp-icon .info h4{
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 5px;
    color: #1d2143;
    text-transform: capitalize;
}
.wp-why-choose .why-choose .wp-detail .content-detail .wp-icon .info p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #898a9c;
    display: block;
    min-height: 50px;
}
.wp-why-choose .why-choose .wp-image ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}
.wp-why-choose .why-choose .wp-image ul li{
    padding: 10px;
    width: 100%;
}
.wp-why-choose .why-choose .wp-image ul li .image{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgb(43 52 59 / 10%);
}
.wp-why-choose .why-choose .wp-image ul li .image img{
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.wp-list-post{
    position: relative;
    padding-bottom: 60px;
}
.wp-list-post .wp-header-post{
    text-align: center;
    margin-bottom: 30px;
    padding: 0 10px;
}
.wp-list-post .wp-header-post h2{
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ed1c24;
    margin-top: 30px;
}
.wp-list-post .wp-header-post h4{
    font-weight: 300;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 42px;
    color: #1d2143;
}
.wp-list-post .wp-content-post{
    padding: 0 10px 0 30px;
    margin-bottom: 30px;
}
.wp-list-post .wp-content-post .list-post a{
    display: inline-block;
}
.wp-content-post .list-post .wp-post{
    box-shadow: 0px 0px 10px 0px rgb(43 52 59 / 10%);
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}
.wp-list-post .wp-content-post .list-post .wp-post .image a.img{
    display: block;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.wp-content-post .list-post .wp-post .image a.cat-post{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 8px;
    color: #fff;
    background-color: #ed1c24;
    border-radius: 5px;
    font-size: 14px;
}
.wp-list-post .wp-content-post .list-post .wp-post .image a.img img{
    width: 100%;
    transition: all ease 0.4s;
}
.wp-list-post .wp-content-post .list-post .wp-post:hover .image a.img img{
    transform: scale(1.05);
}
.wp-content-post .list-post .wp-post .wp-detail{
    padding: 20px 30px;
}
.wp-content-post .list-post .wp-post .wp-detail .time{
    color: #898a9c;
    font-size: 14px;
}
.wp-content-post .list-post .wp-post .wp-detail a.title{
    padding: 8px 0;
    color: #1d2143;
    font-size: 19px;
    line-height: 25px;
    font-weight: 500;
    height: 66px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.wp-content-post .list-post .wp-post .wp-detail a:hover.title{
    color: #b9030a;
}
.wp-content-post .list-post .wp-post .wp-detail .desc{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #898a9c;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.wp-list-post .text{
    width: 100%;
    z-index: 2;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    color: #1D2143;
}
.wp-list-post .text a{
    color: #b9030a;
    font-weight: 500;
}
.wp-banner-primary{
    padding: 50px;
    background-image: url('../images/row-bgimage-6.png');
}
.wp-banner-primary .wp-box-banner{
    display: flex;
    flex-wrap: wrap;
}
.wp-banner-primary .wp-box-banner .image{
    width: 100%;
    padding: 0 10px;
    padding-bottom: 30px;
}
.wp-banner-primary .wp-box-banner .image img{
    width: 100%;
    border-radius: 5px;
    border: 3px solid #fff;
}
.wp-banner-primary .wp-detail{
    width: 100%;
    padding: 0 10px 0 30px;
}
.wp-banner-primary .wp-detail h4{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 5px;
}
.wp-banner-primary .wp-detail h2{
    font-weight: 300;
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;
    line-height: 42px;
    margin-bottom: 20px;
}
.wp-banner-primary .wp-detail h2 strong{
    font-weight: 600;
}
.wp-banner-primary .wp-detail a{
    display: inline-block;
    padding: 10px;
    border-radius: 12px;
    background-color: #fff;
    color: #ed1c24;
    font-weight: 500;
}
.sectionbackground{
    min-height: 300px;
}
.section_country{
    max-width: 1140px;
    display: flex;
    margin-right:
    auto;margin-left:auto;
    position: relative;
}
.insidesection{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}

.insidesection_img{
    min-width: 200px;
    margin: 70px 50px;
}
.insidesection_img img{
   width: 200px;
    height: 130px;
    margin: 0 50px;
}

@media (min-width: 400px){
    .wp-why-choose .why-choose .wp-image ul li{
        width: 50%;
    }
    .wp-banner-primary .wp-detail h4{
        font-size: 14px;
    }
    .wp-banner-primary .wp-detail h2{
        font-size: 20px;
    }

}
@media (min-width: 600px){
    .wp-register .wp-content-register .wp-detail{
        width: 50%;
    }
    .wp-banner-primary .wp-detail h4{
        font-size: 15px;
    }
    .wp-banner-primary .wp-detail h2{
        font-size: 25px;
    }
}
@media (min-width: 768px){
    .wp-first-content .first-content{
        padding-top: 15px;
    }
    .wp-first-content .first-content .image{
        width: 40%;
        position: relative;
    }
    .wp-first-content .first-content .image .background-img{
        position: absolute;
        z-index: 10;
        top: -70px;
        left: 0;
    }
    .wp-first-content .first-content .detail{
        width: 60%;
        padding: 5px 20px 20px 50px;
    }
    .wp-first-content .first-content .image .background-img{
        min-height: 550px;
    }
    .wp-first-content .first-content .image .border-top-image,
    .wp-first-content .first-content .background-top{
        display: block;
    }
    .wp-banner-primary .wp-detail h4{
        font-size: 16px;
    }
    .wp-banner-primary .wp-detail h2{
        font-size: 30px;
        line-height: 52px;
    }
    .wp-banner-primary .wp-box-banner .image{
        width: 50%;
    }
    .wp-banner-primary .wp-box-banner .wp-detail{
        width: 50%;
    }

    
}
@media (min-width: 900px){
    .wp-first-content .first-content .detail .wp-icon .icon{
        width: 50%;
    }


}
@media (min-width: 1024px){
    .wp-register .wp-content-register .wp-detail{
        width: 25%;
    }
    .wp-content-register .wp-detail .header-detail .border-header{
        display: block;
        position: absolute;
        width: 70px;
        border-bottom: 1px dashed #898a9c;
        top: 40%;
        right: -170%;
    }
    .wp-why-choose .why-choose .wp-detail,
    .wp-why-choose .why-choose .wp-image{
        width: 50%;
    }
    .wp-banner-primary .wp-detail h4{
        font-size: 16px;
    }
    .wp-banner-primary .wp-detail h2{
        font-size: 35px;
        line-height: 62px;
    }

}


@media (max-width: 1023px){
    .wp-first-content .first-content{
        padding-top: 15px!important;
    }

    .insidesection_img img {
        width: 80px;
    height: 50px;
    margin: 0 10px;
    }
    .insidesection_img {
    min-width: 50px;
    margin: 30px 10px;
}

.sectionbackground {
    min-height: 100px;
}
}

