/*
███████▄▄███████████▄
▓▓▓▓▓▓█░░░░░░░░░░░░░░█
▓▓▓▓▓▓█░░░░░░░░░░░░░░█
▓▓▓▓▓▓█░░trungdung░░░█
▓dungtdcs@gmail.com░░█
▓▓▓▓▓▓█░░░░░░░░░░░░░░█
▓▓▓▓▓▓███░░░░░░░░░░░░█
██████▀░░░░░░░██████▀
░░░░░░░░░█░░░░█
░░░░░░░░░░█░░░█
░░░░░░░░░░░█░░█
░░░░░░░░░░░█░░█
░░░░░░░░░░░░▀▀
*/

#footer{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #898a9c;
}
.wp-footer{
    background-image: url('../images/first-footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    background-color: #1f2437;
}
.wp-footer .wp-body-footer{
    background-color: #1f2437ea;
}
.container-footer{
    max-width: 1170px;
    margin: 0 auto;
}

.wp-footer .first-footer-inner{
    padding: 40px 0 40px;
    color: rgba(255, 255, 255, .8);
}
.first-footer-inner h3.title{
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 32px;
    position: relative;
    text-transform: uppercase;
}
.first-footer-inner h3.title::after{
    display: block;
    height: 2px;
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    bottom: -10px;
    background-color: #0067ed
}

.first-footer-inner .content-footer-inner{
    display: flex;
    flex-wrap: wrap;
}
.first-footer-inner .content-footer-inner .wp-about,
.first-footer-inner .content-footer-inner .wp-services,
.first-footer-inner .content-footer-inner .wp-post,
.first-footer-inner .content-footer-inner .wp-userfull-links{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}
.first-footer-inner .content-footer-inner .wp-about .content-about{
    color: rgba(255, 255, 255, .8);
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    margin-bottom: 35px;
}
.content-footer-inner .wp-about ul{
    color: rgba(255, 255, 255, .8);
    margin-left: 0px;
    margin-bottom: 30px;

}
.content-footer-inner .wp-about ul li{
    display: inline-block;
    min-height: 23px;
}
.content-footer-inner .wp-about ul li a{
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: 0 2px;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: #0067ed;
    border: 1px solid #0067ed;
    transition: all ease 0.5s;
}
.content-footer-inner .wp-about ul li a:hover{
    background-color: #0067ed;
    color: #fff;
}
.content-footer-inner .wp-about ul li a i{
    font-size: 16px;
}
.content-footer-inner .wp-services ul,
.content-footer-inner .wp-post ul{
    margin-left: 0px;
    margin-bottom: 30px;
}
.content-footer-inner .wp-services ul li a{
    display: block;
    color: #fff;
    padding: 8px 0;
}
.content-footer-inner .wp-services ul li a:hover{
    color: #0067ed;
}
.content-footer-inner .wp-services ul li a i{
    font-size: 8px;
    display: inline-block;
}
.content-footer-inner .wp-post ul li:not(:last-child){
    margin-bottom: 20px;
}
.content-footer-inner .wp-post ul li a{
    display: flex;
}
.content-footer-inner .wp-post ul li a .thumb-post{
    width:25%;
}
.content-footer-inner .wp-post ul li a .thumb-post img{
    width: 100%;
    border-radius: 3px;
}
.content-footer-inner .wp-post ul li a .info-post{
    width: 75%;
    padding-left: 10px;
    color: #fff;
}
.content-footer-inner .wp-post ul li a .info-post .time{
    font-size: 14px;
    font-weight: 400;
}
.content-footer-inner .wp-post ul li a .info-post h4.title{
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all ease 0.3s;
}
.content-footer-inner .wp-post ul li a:hover h4.title{
    color: #0067ed;
}
.wp-userfull-links .image-media{
    margin-bottom: 30px;
}
.wp-userfull-links .image-media img{
    max-width: 100%;
    height: auto;
}
.wp-userfull-links .address i{
    color: #0067ed;
}
.wp-contact-footer{
    position: relative;
    z-index: 2;
}
.wp-contact-footer .padding-contact-footer{
    padding-left: 10px;
    padding-right: 10px;
}
.wp-contact-footer .contact-footer{
    display: flex;
    flex-wrap: wrap;
}
.wp-contact-footer .contact-footer .wp-mail,
.wp-contact-footer .contact-footer .wp-hotline,
.wp-contact-footer .contact-footer .wp-address{
    width: 100%;
    padding: 23px 30px;
}
.wp-contact-footer .contact-footer .content-contact{
    display: flex;
}
.wp-contact-footer::after{
    position: absolute;
    content: "";
    width: 100%;
    border: 1px dashed rgba(255, 255, 255, .06);
    top: 48px;
    z-index: -1;
}
.wp-contact-footer .contact-footer .content-contact .icon-contact{
    width: 25%;
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(255,255,255,.07);
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 8%);
    height: 46px;
    width: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
}
.wp-contact-footer .contact-footer .content-contact .detail{
    width: 75%;
    padding-left: 15px;
    color: #fff;
}
.wp-contact-footer .contact-footer .content-contact .detail a{
    color: #fff;
}
.wp-contact-footer .contact-footer .wp-address,
.wp-contact-footer .contact-footer .wp-mail{
    background-color: #1a1f31;
}
.wp-contact-footer .contact-footer .wp-hotline{
    background-color: #0067ed;
}
.wp-bottom-footer{
    padding: 30px 0px 20px 0px;
    margin: 0 auto;
    text-align: center;
}
.wp-bottom-footer .menu-bottom-footer a{
    color: #fff;
    display: inline-block;
    padding: 0 5px;
}
.wp-bottom-footer .menu-bottom-footer a:hover{
    color: #0067ed;
}
.wp-bottom-footer p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

@media (min-width: 768px){
    .first-footer-inner .content-footer-inner .wp-about,
    .first-footer-inner .content-footer-inner .wp-services,
    .first-footer-inner .content-footer-inner .wp-post,
    .first-footer-inner .content-footer-inner .wp-userfull-links{
        width: 50%;
    }
}
@media (min-width: 992px){
    .wp-contact-footer .contact-footer .wp-mail,
    .wp-contact-footer .contact-footer .wp-hotline,
    .wp-contact-footer .contact-footer .wp-address{
        width: 33.33%;
    }
    .wp-contact-footer .contact-footer .wp-address .content-contact .detail p{
        display: none;
    }
}

@media (min-width: 1024px){
    .first-footer-inner .content-footer-inner .wp-about,
    .first-footer-inner .content-footer-inner .wp-services,
    .first-footer-inner .content-footer-inner .wp-post,
    .first-footer-inner .content-footer-inner .wp-userfull-links{
        width: 25%;
    }
}

