body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    color: #5c727d;
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    line-height: 1em;

    --e-global-color-primary: #222222;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-412125ce: #6EC1E4;
    --e-global-color-28be7bf1: #4054B2;
    --e-global-color-64812166: #23A455;
    --e-global-color-7be179ad: #000;
    --e-global-color-5cc19614: #FFF;
    --e-global-typography-primary-font-family: "Nunito Sans";
    --e-global-typography-primary-font-weight: 800;
    --e-global-typography-secondary-font-family: "Nunito Sans";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Nunito Sans";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Nunito Sans";
    --e-global-typography-accent-font-weight: 500;
}

html, body, div, span, applet, object, iframe, .advanced_search_map h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
}

ul {
    list-style-type: square;
    margin: 0px 0px 26px 26px;
    list-style: none;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

a img {
    border: 0;
}

img {
    vertical-align: middle;
}
.right-top-widet .textwidget {
    transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
}

.right-top-widet .textwidget:hover, .right-top-widet a:hover{
    color: #0073e1 !important; 
}

.top_bar_wrapper.transparent_border_topbar,
.transparent_border_topbar .top_bar .social_sidebar_internal a,
.transparent_border_topbar .top_bar .social_sidebar_internal a,
.top_bar_wrapper.transparent_border_topbar .left-top-widet .widget-container:last-of-type,
.top_bar_wrapper.transparent_border_topbar .right-top-widet .widget-container:last-of-type,
.top_bar_wrapper.transparent_border_topbar .left-top-widet .widget-container:first-of-type,
.top_bar_wrapper.transparent_border_topbar .right-top-widet .widget-container {
    border-color: rgba(206, 206, 206, 0.3) !important;
}

.background_header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    --widgets-spacing: 20px;
    width: 100%;
    min-height: 700px;
}
.background_header_shadow{
    background-color: transparent;
    background-image: linear-gradient(180deg, #053A63 0%, #01111B 100%);
    opacity: 0.72;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.header_bar{
    background: transparent;
    border-bottom: none;
    width: 100%;
    float: left;
    position: fixed;
    top: 0px;
    z-index: 100;
    transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
}

.wd_user_menu li, li.advanced_search_sidebar, li.measurement_unit_widget, li.multiple_currency_widget, li.loginwd_sidebar, li.social_sidebar, li.property_categories, li.contact_sidebar, li.facebook_widget_like, li.featured_sidebar, li.latest_listings, li.mortgage_calculator_li, li.zillow_widget {
    list-style-type: none;
}

.top_bar_wrapper.transparent_border_topbar,
.transparent_border_topbar .top_bar .social_sidebar_internal a,
.transparent_border_topbar .top_bar .social_sidebar_internal a,
.top_bar_wrapper.transparent_border_topbar .left-top-widet .widget-container:last-of-type,
.top_bar_wrapper.transparent_border_topbar .right-top-widet .widget-container:last-of-type,
.top_bar_wrapper.transparent_border_topbar .left-top-widet .widget-container:first-of-type,
.top_bar_wrapper.transparent_border_topbar .right-top-widet .widget-container {
    border-color: rgba(206, 206, 206, 0.3);
}

.top_bar_wrapper.transparent_border_topbar .left-top-widet .widget-container.social_sidebar {
    border-right: 0px;
}

.top_bar_wrapper.transparent_border_topbar .left-top-widet .widget-container:last-of-type {
    border-left: 1px solid #ccc;
}

.top_bar_wrapper.transparent_border_topbar .left-top-widet .widget-container:first-of-type {
    border-left: 1px solid #ccc;
}

.top_bar_wrapper.transparent_border_topbar .top_bar .social_sidebar {
    padding: 0px;
}

.top_bar .social_sidebar {
    margin-bottom: 0px;
}

.top_bar .widget-container {
    display: inline;
    margin-bottom: 0px;
}

.left-top-widet li, .right-top-widet li {
    float: left;
    display: inline;
}

.widget-container {
    margin-bottom: 30px;
}

.master_header{
    background-color: #FFF;
    float: left;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 1200px;
    -webkit-backface-visibility: hidden;
}

.wide {
    width: 100%;
    background-color: #f7f7f7;
}

.master_header.wide {
    width: 100%;
}

.master_header.header_transparent {
    background: transparent;
    border-bottom: none;
}

.top_bar_wrapper.transparent_border_topbar {
    border-bottom: 1px solid #ccc;
}

.top_bar_wrapper.transparent_topbar {
    background-color: transparent;
}

.top_bar_wrapper {
    background-color: #111111;
}

.top_bar_wrapper {
    width: 100%;
    background-color: #f3f3f3;
    z-index: 99;
    float: left;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    z-index: 1;
    position: Relative;
}

.full_width_header.wide .top_bar, .full_width_header .top_bar {
    width: 100%;
    max-width: 100%;
}

.wide .top_bar {
    width: 1200px;
    margin: 0px auto;
}

.full_width_header .top_bar {
    padding: 0px 100px 0px 100px;
}

.top_bar a {
    color:  #ffffff;
    font-size: 14px;
    padding: 11px 0px;
}

.top_bar {
    height: 40px;
    line-height: 40px;
    width: 100%;
    vertical-align: middle;
    padding-left: 40px;
    padding: 0px 45px 0px 45px;
    font-size: 13px;
    color: #b6b6b6;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.left-top-widet {
    display: inline;
    float: left;
}

.top_bar .xoxo {
    margin: 0px;
}

.transparent_border_topbar .top_bar .social_sidebar_internal a {
    border-right: 1px solid #ccc;
    padding: 0px 13px!important;
}

#header4_footer .social_sidebar_internal a, .top_bar .social_sidebar_internal a {
    padding: 0px 5px 0px 5px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: 0%;
}

#header4_footer .social_sidebar_internal a:hover, .top_bar .social_sidebar_internal a:hover {
    color: #0073e1;
}

.transparent_border_topbar .top_bar .social_sidebar_internal i {
    margin-right: 0px;
    text-align: center;
}

.login_links i, .top_bar i {
    width: 13px;
    margin-right: 5px;
    margin-left: 0px;
    font-size: 13px;
}


.elementor-template-full-width .header_transparent .container.content_wrapper {
    margin-top: 0px;
}

.page .single-content, .page .content_wrapper, .home.page .single-content, .home.page .content_wrapper {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.elementor-template-full-width .container.content_wrapper {
    width: 100%;
    margin-top: 90px;
}

.elementor-template-full-width .content_wrapper {
    padding: 0px 0px 0px 0px;
}

.content_wrapper {
    width: 1200px;
    margin: 0px auto;
    background-color: #f7f7f7;
    padding: 0px 15px 30px 15px;
    z-index: 100;
    position: relative;
}

.elementor-section.top-section{
    background-image: url(https://wpresidence.net/wp-content/uploads/2021/12/wpresidece-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -18px;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
}
.container {
    padding: 0px;
    width: 1200px;
    position: relative;
    z-index: 2;
}
.right-top-widet {
    display: flex;
    float: right;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
}

.top_bar_wrapper.transparent_border_topbar .right-top-widet .widget-container {
    border-left: 1px solid #ccc;
    padding: 0px 15px;
}

.transparent_border_topbar .textwidget {
    margin-left: 0px;
    color: #ffffff;
}



.header_wrapper {
    width: 100%;
    margin: 0px auto;
    width: 100%;
    margin: 0px auto;
    height: 90px;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
    background: transparent;
    position: relative;
    float: left;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.header_wrapper_inside.full_width_header {
    max-width: 100%;
    width: 100%!important;
}

.header_wrapper_inside {
    margin: 0px auto;
    position: relative;
    height: 100%;
}

.logo {
    display: inline-block;
    margin-top: 0px;
    float: left;
    height: 100%;
}

.logo a {
    height: 100%;
    color: #333;
    -webkit-transition: color 0.4s linear;
}

.logo img {
    top: 50%;
    position: absolute;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    ms-transform: translate(0,-50%);
    max-height: 54px;
    max-width: 160px;
    margin-top: 0px;
}

.user_menu {
    display: inline-block;
    float: right;
    margin-right: 45px;
    color: #0073e1;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    margin-top: -18px;
    position: absolute;
    right: 0px;
    top: 50%;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.full_width_header .user_menu {
    margin-right: 100px;
}
.video_container_modal, #property_details_modal_wrapper, #modal_login_wrapper {
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9999;
}

.property_details_modal_back, .modal_login_back {
    background-color: #111;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.modal_login_container {
    background-color: #fff;
    left: 0;
    right: 0;
    top: 8%;
    width: 750px;
    height: 550px;
    z-index: 1;
    position: absolute;
    margin: 0px auto;
    box-shadow: 3px 5px 13px 0px rgb(29 29 29 / 5%);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#login-modal_close {
    top: 15px;
    right: 15px;
}

.video_modal_login_close, #property_details_modal_close, #login-modal_close {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    cursor: pointer;
    z-index: 999999;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    opacity: 0.3;
}

.login-register-modal-image {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-position: 50% 50%;
    background-size: cover;
}

.featured_gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.67;
    z-index: 1;
    background-image: linear-gradient(to right top, #000, rgba(0,0,0, 0) 56%);
}

#modal_login_wrapper .featured_gradient {
    opacity: 0.35;
    background-image: linear-gradient(to top, #000, rgba(0,0,0, 0) 56%);
}

#login-modal_close {
    top: 15px;
    right: 15px;
}

.login-register-modal-image_text {
    position: absolute;
    bottom: 25px;
    left: 45px;
    font-size: 31px;
    font-weight: 800;
    color: #fff;
    z-index: 2;
    line-height: 1.25em;
    right: 45px;
}

.login-register-modal-form-wrapper {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 50%;
}
.login_form {
    padding: 9px 15px 15px 15px;
    border: 0px solid #e5e5e5;
    width: 100%;
    border-radius: 2px;
    display: inline-block;
}

.modal_login_container #register-div-title-topbar, .modal_login_container #forgot-div-title-topbar, .modal_login_container #login-div-title-topbar {
    padding: 0px 0px 30px 0px;
}

#forgot-div-title-topbar, #register-div-title-topbar, #login-div-title-topbar {
    padding: 30px;
    color: #333;
    font-size: 23px;
    line-height: 1.3em;
    text-align: left;
    font-weight: 800;
    margin-bottom: 0px;
}
.comment-form #submit, .wpresidence_button {
    text-shadow: none;
    margin-bottom: 15px;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 8px 34px;
    border: 1px solid;
    line-height: 2;
    border-color: #0073e1;
    color: #ffffff;
    background-color: #0073e1;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #0073e1));
    background-image: linear-gradient(to right, transparent 50%, #0073e1 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
}
.login-links {
    margin-top: 10px;
}
.or_social {
    width: 100%;
    float: left;
    text-align: center;
    margin: 5px 0px 5px 0px;
}

#facebooklogin, #facebookloginsidebar_mobile, #facebookloginsidebar_topbar, #facebookloginsidebar {
    width: 100%;
    height: 48px;
    background-color: #4B6CC9;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
    position: relative;
    color: #fff;
    padding: 1px 15px;
    font-size: 14px;
    display: inline-block;
    line-height: 48px;
    font-weight: 700;
    border-radius: 3px;
}

#facebooklogin:before, #facebookloginsidebar_mobile:before, #facebookloginsidebar_topbar:before, #facebookloginsidebar:before {
    content: "\f09a";
    font-family: "Font Awesome 5 Brands";
    font-weight: 600;
    float: right;
    line-height: 48px;
    margin-top: -1px;
    padding-left: 18px;
    height: 48px;
    font-size: 15px;
    background-color: #425398;
    width: 45px;
    margin-right: -15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.show_hide_password {
    position: absolute;
    top: 16px;
    right: 10px;
    font-size: 17px;
    color: #8795ab;
    opacity: 0.7;
    cursor: pointer;
}

.show_hide_password:hover {
    opacity: 1;
}

#googlelogin, #googleloginsidebar_mobile, #googleloginsidebar_topbar, #googleloginsidebar {
    width: 100%;
    height: 48px;
    background-color: #ED5565;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    color: #fff;
    padding: 1px 15px;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    line-height: 48px;
    font-weight: 700;
    border-radius: 3px;
}

#googlelogin:before, #googleloginsidebar_mobile:before, #googleloginsidebar_topbar:before, #googleloginsidebar:before {
    content: "\f1a0";
    float: right;
    line-height: 48px;
    font-size: 15px;
    margin-top: -1px;
    padding-left: 18px;
    background-color: #da4453;
    width: 45px;
    margin-right: -15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: "Font Awesome 5 Brands";
    font-weight: 600;
}

#yahoologin, #twitterloginsidebar_mobile, #twitterloginsidebar_topbar, #twitterloginsidebar {
    width: 100%;
    height: 48px;
    background-color: #00aced;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
    position: relative;
    color: #fff;
    padding: 1px 15px;
    font-size: 14px;
    display: inline-block;
    line-height: 48px;
    font-weight: 700;
    border-radius: 3px;
}

#yahoologin:before, #twitterloginsidebar_mobile:before, #twitterloginsidebar_topbar:before, #twitterloginsidebar:before {
    content: "\f099";
    float: right;
    line-height: 48px;
    font-size: 15px;
    padding-left: 18px;
    height: 48px;
    background-color: #0b98ce;
    width: 45px;
    margin-right: -15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 15px;
    margin-top: -1px;
    font-family: "Font Awesome 5 Brands";
    font-weight: 700;
}

.login_modal_control {
    padding: 0px 45px;
    color: #333;
    width: 100%;
    float: left;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
}

#forgot-div-title-mobile, #register-div-mobile, #register-div-title-mobile, #forgot-pass-div, #forgot-div-title-topbar, #register-div-topbar, #register-div-title-topbar, #register-div, #register-div-title {
    display: none;
}

.modal_login_container #register-div-title-topbar, .modal_login_container #forgot-div-title-topbar, .modal_login_container #login-div-title-topbar {
    padding: 0px 0px 30px 0px;
}
#modal_login_wrapper .form-control {
    height: 48px;
    padding: 9px 0px 9px 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.password_holder {
    position: relative;
    display: inline-block;
    width: 100%;
}

#user_terms_register_mobile, #user_terms_register_topbar {
    margin: 0px 5px 0px 0px;
    float: left;
}
#user_terms_register_mobile_label, #user_terms_register_topbar_label {
    float: left;
    width: 205px;
    display: inline;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 2px;
    font-size: 14px;
}

#wp-submit-register_topbar, #wp-login-but-topbar, #wp-forgot-but-topbar {
    width: 100%;
    margin-bottom: 0px;
    top: 10px;
    list-style: 2!important;
}

#register-div-topbar, #forgot-pass-div, #login-div_topbar {
    padding: 0px 45px 0px 45px;
    text-align: left;
    float: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#widget_register_topbar {
    float: left;
    font-size: 15px;
    font-weight: 500;
}
#forgot_pass_topbar {
    float: right;
    font-weight: 700;
}

#widget_login_topbar {
    display: none;
    font-weight: 700;
}

#return_login_mobile, #return_login_topbar {
    padding-left: 0px!important;
}

#return_login_topbar {
    display: none;
    color: #333;
    font-weight: 600;
}
.admin-bar #property_details_modal_wrapper, #modal_login_wrapper {
    z-index: 999999;
}


.menu_user_tools {
    border-radius: 50%;
    width: 15px;
    height: 20px;
    margin: 0px;
    float: left;
    display: inline;
    cursor: pointer;
    font-size: 14px;
    color: #0073e1;
}
.dropdown, .dropup {
    position: relative;
}

.navicon-button {
    display: inline-block;
    position: relative;
    padding: 6px;
    transition: 0.25s!important;
    cursor: pointer;
    user-select: none;
    opacity: .8;
    width: 30px;
    height: 30px;
    float: left;
}
.navicon {
    position: relative;
    width: 18px;
    height: 2px;
    background: #333;
    transition: 0.5s;
    border-radius: 2.5rem;
}

.nav-notlog {
    display: none;
}

.submit_listing {
    float: right;
    display: inline;
    margin-top: 0px;
    font-size: 14px;
    background: #0073e1;
    padding: 10px 13px;
    font-weight: 700;
    transition: background-color 0.1s linear;
    border: 1px solid;
    border-color: #0073e1;
    color: #ffffff;
    background-color: #0073e1;
    background-image: linear-gradient(to right, transparent 50%, #0073e1 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 3px;
}

a.submit_listing:hover {
    text-decoration: none;
    background-color: #222222;
    background-position: left bottom;
    transition: all 300ms ease;
    webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    border-color: #222222;
    color: #ffffff;
    padding: 10px 13px;
}


.submit_action {
    float: right;
    display: inline;
    margin-top: 7px;
    font-size: 22px;
    color: #222;
    margin-right: 12px;
    transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
}
svg:not(:root) {
    overflow: hidden;
}
.submit_action svg {
    color: #8a959e;
    width: 30px;
    height: 30px;
    fill: #ffffff;
    margin: 0px 0px 0px 0px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
}

.header_phone {
    float: right;
    display: inline;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 700;
    color: #222;
    margin-right: 12px;
    transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    margin-right: 20px;
    line-height: 30px;
}

.header_phone a{
    color: #ffffff;
}

.agent_sidebar_mobile svg, .header_phone svg {
    color: #8a959e;
    height: 21px;
    fill: #ffffff;
    margin: 0px 0px 0px 0px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
}


.header_type1.header_center #access {
    display: block;
    height: 100%;
    float: none;
    margin: 0px auto;
    max-width: 850px;
}

#access .menu {
    height: 100%;
}

#access ul {
    font-size: 13px;
    list-style: none;
    padding-left: 0;
    z-index: 99999;
}

.menu > li {
    height: 100%;
    line-height: 90px;
}
.hover_type_3 .menu > li {
    margin-right: 5px;
}

.header_type1.header_center #access ul {
    margin: 0;
    text-align: center;
}


#access a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}

.hover_type_3 #access .menu > li:hover>a {
    background: #0073e1!important;
    color: #fff;
    display: inline;
    padding: 7px 15px;
    border-radius: 2px;
    transition: visibility 0.3s ease;
}

#access ul li:hover > ul {
    top: 90px;
    opacity: 1;
    visibility: visible;
}

#access ul ul {
    float: left;
    margin: 0;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    top: 130px;
    margin-left: 3px;
    padding: 25px 0px;
    width: 285px;
    background-color: #fff;
    -webkit-box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    -webkit-transition: all .0s ease, visibility .0s ease;
    -o-transition: all .0s ease, visibility .0s ease;
    transition: all .0s ease, visibility .0s ease;
    line-height: 0px;
}

#access ul ul ul{
    left: 285px;
}

#access ul ul li:hover ul{
    top: -26px;
}

#access li {
    display: inline-block;
    text-align: left;
    position: relative;
    -webkit-transition: padding 0.35s ease;
    -moz-transition: padding 0.35s ease;
    -o-transition: padding 0.35s ease;
    transition: padding 0.35s ease;
    -webkit-backface-visibility: hidden;
}

#access li:hover{
    visibility: visible;
    opacity: 1;
}

#access li:hover .sub-menu li>a{
    transform: translateY(-10px);
}

#access ul ul li {
    width: 100%;
    padding: 0px 30px;
}

#access a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}
#access .sub-menu li>a {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 20);
    -ms-transform: matrix(1, 0, 0, 1, 0, 20);
    transform: matrix(1, 0, 0, 1, 0, 20);
    -webkit-transition: opacity .75s ease, color .5s ease, -webkit-transform .75s ease;
    transition: opacity .75s ease, -webkit-transform .75s ease;
    -o-transition: opacity .75s ease, transform .75s ease;
    transition: opacity .75s ease, transform .75s ease;
}
.menu_label {
    background: #e9b97b;
    display: inline-block;
    margin-left: 5px;
    font-size: 9px;
    color: #fff;
    padding: 0px 5px;
    line-height: 12px;
    height: 12px;
    vertical-align: text-top;
    font-weight: 400;
    border-radius: 2px;
    letter-spacing: 0.3px;
    transform: translate(0px,-3px);
}

#access ul ul li.wpestate_megamenu_col_1 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_2 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_3 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_4 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_5 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_6 a.menu-item-link {
    font-size: 14px;
    color: #333;
    font-weight: 300;
}
#access ul ul a {
    top: 10px;
    position: relative;
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    line-height: 1.4em;
    padding: 13px 13px 13px 13px;
    text-transform: none;
    width: 100%;
}

.sub-menu li:hover {
    background-color: #0073e1;
    color: #fff;
    border: none;
    padding: 0 60px;
}
#access ul ul li:hover{
    padding: 0 40px;
}

.full_width_header .header_type1.header_center #access ul li.with-megamenu>ul.sub-menu {
    margin-left: auto!important;
    margin-right: auto!important;
    left: 0!important;
    right: 0!important;
}

.header_type5.header_right #access ul li.with-megamenu>ul.sub-menu, #access ul li.with-megamenu:hover>ul.sub-menu {
    max-width: 1110px;
}

#access ul li.with-megamenu>ul.sub-menu, #access ul li.with-megamenu:hover>ul.sub-menu {
    top: 90px;
    width: 100%;
    position: fixed;
    margin-left: auto!important;
    margin-right: auto!important;
    left: 0!important;
    right: 0!important;
}

#header_type3_wrapper #access ul li.with-megamenu>ul.sub-menu, #access ul li.with-megamenu:hover>ul.sub-menu {
    left: -300px;
    height: auto;
    top: 90px;
}
.header_type1.header_center #access ul {
    margin: 0;
    text-align: center;
}


#access ul li.with-megamenu>ul.sub-menu {
    top: 63px;
}

.wpestate_megamenu_class:before {
    content: "";
    position: absolute;
    width: 5000px;
    top: 0;
    bottom: 0;
    left: -100%;
    background-color: #fff;
    /*-webkit-box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);*/
}

#access ul li.with-megamenu:hover>ul.sub-menu li {
    transition-delay: 0.3s;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
}

#access ul ul.wpestate_megamenu_class li {
    padding: 0px 0px;
}
#access ul ul li.wpestate_megamenu_col_4 {
    width: 25%;
    float: left;
}

#access .menu>.with-megamenu:hover ul ul {
    visibility: visible;
    opacity: 1;
    padding-top: 30px;
    margin-left: 1px;
    position: Relative;
    left: 0px;
    margin: 0px;
    top: 0px;
    width: 100%;
    border: none!important;
    box-shadow: none;
    background: Transparent;
}

.megamenu-title:hover{
    color: #0073e1;
}
#access ul li.with-megamenu:hover>ul.sub-menu li > ul.sub-menu li {
    transition-delay: 0s;
}

#access .sub-menu li:hover>a, #access .sub-menu li:hover>a:active, #access .sub-menu li:hover>a:focus {
    color: #fff;
}

.header5_user_wrap .header_phone svg, .header5_user_wrap .header_phone a, .header_transparent .header_phone a, .header_transparent .header_phone svg, .header_transparent .submit_action svg {
    fill: #fff;
}
.header_transparent .navicon:before, .header_transparent .navicon:after, .header_transparent .navicon {
    background: #ffffff;
}
.header_transparent .customnav.hover_type_3 #access ul.menu >li>a:hover, .header_transparent .customnav.hover_type_4 #access ul.menu >li>a:hover, .header_transparent .hover_type_3 #access ul.menu >li>a:hover, .header_transparent .hover_type_4 #access ul.menu >li>a:hover, .header_transparent .hover_type_3 #access .menu > li:hover>a .header_transparent .hover_type_4 #access .menu > li:hover>a, .header_transparent .menu_user_tools, .header_transparent .submit_action, .header_transparent #access ul.menu >li>a {
    color: #ffffff;
}

#access ul ul li.wpestate_megamenu_col_1, #access ul ul li.wpestate_megamenu_col_2, #access ul ul li.wpestate_megamenu_col_3, #access ul ul li.wpestate_megamenu_col_4, #access ul ul li.wpestate_megamenu_col_5, #access ul ul li.wpestate_megamenu_col_6 {
    opacity: 0;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    margin-top: -5px;
}

#access ul ul li.wpestate_megamenu_col_1, #access ul ul li.wpestate_megamenu_col_2, #access ul ul li.wpestate_megamenu_col_3, #access ul ul li.wpestate_megamenu_col_4, #access ul ul li.wpestate_megamenu_col_5, #access ul ul li.wpestate_megamenu_col_6, #access ul ul li.wpestate_megamenu_col_1 a, #access ul ul li.wpestate_megamenu_col_2 a, #access ul ul li.wpestate_megamenu_col_3 a, #access ul ul li.wpestate_megamenu_col_4 a, #access ul ul li.wpestate_megamenu_col_5 a, #access ul ul li.wpestate_megamenu_col_6 a {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height: 1.4em;
    padding: 7px 13px;
    text-transform: none;
    overflow: hidden;
    background: #ffffff;
}
#access .with-megamenu ul ul a {
    border: none;
}

#access ul ul li.wpestate_megamenu_col_1 .megamenu-title, #access ul ul li.wpestate_megamenu_col_2 .megamenu-title, #access ul ul li.wpestate_megamenu_col_3 .megamenu-title, #access ul ul li.wpestate_megamenu_col_4 .megamenu-title, #access ul ul li.wpestate_megamenu_col_5 .megamenu-title, #access ul ul li.wpestate_megamenu_col_6 .megamenu-title, #access ul ul li.wpestate_megamenu_col_1 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_2 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_3 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_4 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_5 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_6 .megamenu-title a {
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

.master_header_sticky{
    top: -41px;
}

.header_wrapper.customnav {
    background-color: #fff;
    height: 90px;
    opacity: 0.95;
}
.customnav #access ul.menu >li>a, .customnav .header_phone a {
    color: #333;
}

.customnav .header_phone svg{
    fill: #0073e1;
}
.customnav .submit_action svg{
    fill: #0073e1;
}

.select_real_estate{
    margin-top: 90px;
    margin-bottom: 0;
    width: 100%;
    --widgets-spacing: 20px;
    position: relative;
    display: block;
    top: -480px;
}
.select_real_estate .column-gap-default{
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.select_real_estate .column-gap-default .inner-column{
    width: 20%;
}

.wrap-populated{
    padding: 10px;
    /*display: flex;*/
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.elementor-icon-wrapper{
    text-align: center;
}

.elementor-icon{
    background-color: #07142080;
    color: #fff;
    border-radius: 50%;
    padding: 0.5em;
    fill: #fff;
    font-size: 50px;
    box-shadow: none;
    text-decoration: none;
    text-align: center;
    transition: all .3s;
    display: inline-block;
    line-height: 1;
}
.elementor-icon svg {
    fill: #fff;
    transform: rotate(0deg);
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
    overflow: hidden;
}

.elementor-heading-title{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.widgetpopulated{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    min-width: 80px;
}

.classsort{
    top: 540px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.search_wrapper{
    background-color: #FFFFFF00;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: list-item;
    max-width: 1100px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.nav-tabs{
    text-align: center;
    margin-bottom: 0px;
    border-bottom: 0px;
    padding-left: 0;
    list-style: none;
}

.nav2{
    display: block;
}

.nav2:before{
    display: table;
    content: " ";
}

.adv_search_tab_item{
    background-color: #0073E1BA;
    margin: 1px -2px -3px 1px;
    border-color: #fff;
    border-radius: 3px 3px 0px 0px;
    border-width: 0px 0px 0px 0px;
    font-weight: 400;
    float: none;
    display: inline-block;
    font-size: 14px;
}

.adv_search_tab_item a{
    color: #fff;
    margin: 15px 23px 14px 23px;
    font-weight: 500;
    transition: none;
    padding: 0px;
    box-shadow: none;
    text-decoration: none;
    float: left;
    text-transform: capitalize;
    line-height: 14px;
}



.tab-content{
    background-color: #fff;
    padding: 26px 26px 26px 26px;
    border-color: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 43px 0px rgb(7 152 255 / 25%);
}

.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    background: #fff;
    display: block;
}
.search_wr_elementor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.field-group-message{
    padding-right: calc( 10px/2 );
    padding-left: calc( 10px/2 );
    margin-bottom: 10px;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    display: flex;
    min-height: 1px;
    color: #5c727d;
}
.group-message{
    width: 40%!important;
}

.elementor-field-label{
    margin-bottom: 5px;
    color: #222222;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
}
.form-control {
    background-color: #fff;
    border-color: #eee;
    border-width: 1px 1px 1px 1px;
}

.filter_menu_trigger{
    color: #7a7a7a;
    padding: 0px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    line-height: 1.428571429;
}

.caret::after {
    font-family: "Font Awesome 6 Free";
    content: "\f107";
    position: relative;
    top: 0px;
    font-size: 14px;
    color: #8593a9;
    float: right;
    font-weight: 600;
}

.wpresidence_button {
    background-image: linear-gradient(to right, transparent 50%, #0073E1 50%);
    background-color: #0073E1;
    color: #fff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0073E1;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
    padding: 4px 0px;
}

.bt_search{
    border-radius: 3px;
    top: 20px;
    max-height: 35px;
    position: relative;
    padding: 0.5em;
    background-image: linear-gradient(to right, transparent 50%, #0073e1 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    font-size: 15px;
}

.bt_search:hover {
    text-decoration: none;
    background-color: #ffffff;
    transition: all 300ms ease;
    webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    border-color: #0073E1;
    color: #0073E1 !important;
    padding: 10px 13px;
    background-position: left bottom;
}

.bt_search:hover svg{
    fill: #0073E1;
}

.wpresidence_button svg{
    height: 14px;
    width: auto;
    position: relative;
    display: block;
    overflow: hidden;
    fill: #FFFFFF;
    color: #FFFFFF;
    line-height: 1;
    text-align: center;
    text-shadow: none;
    text-transform: capitalize;
    cursor: pointer;
    padding-right: 10px;
    font-size: 15px;
}

.adv_search_tab_item.active{
    background-color: #fff;
}
.adv_search_tab_item.active a{
    color: #222;
}

.wpestate_elementor_search_tab_slider_wrapper {
    height: auto;
    width: 100%;
    padding-right: 5px!important;
    float: left;
}

.search_wr_elementor .adv_search_slider p {
    margin-bottom: 5px;
}

.adv_search_slider label {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #222222;
}

.search_wr_elementor .wpresidence_slider_price {
    color: #0073e6;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px
}

.search_wr_elementor .ui-widget-content {
    background-color: #333333!important;
}

.adv_search_slider .ui-slider, .adv_search_slider #slider_price {
    margin-left: 7px;
    margin-top: 0px;
    height: 5px;
    margin-bottom: 20px;
}

.search_wrapper .ui-widget-content {
    border: 0px solid #f0f0f0!important;
}
.adv_search_slider .ui-slider-handle {
    margin-top: -6px;
    width: 17px;
    position: absolute;
    border-radius: 50%;
    height: 17px;
    background-image: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.ui-state-default {
    border: 1px solid #ccc;
    background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #1c94c4;
}


.range-slide {
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
}

.slide {
  position: absolute;
  top: 0;
  height: 4px;
  background: #ccc;
  left: 9px;
  right: 9px;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #0073e6;
}

.thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 50%;
    outline: none;
    top: -7px;
    height: 18px;
    width: 18px;
    margin-left: -9px;
}

.range-slide input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  height: 3px;
  top: 0;
  width: 100%;
  opacity: 0;
  margin: 0;
}

.range-slide input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.filter_menu {
        background-color: #fff;
    color: var( --e-global-color-text );
    border-color: #f0f0f0;
    margin-left: 0px;
    margin-top: 1px!important;
    max-height: 215px;
    overflow-y: scroll;
    border-radius: 0px;
    margin-left: -13px !important;
    width: inherit;
    padding-top: 0px;
}

.filter_menu li {
    font-size: 14px;
    padding: 13px;
    line-height: 1.3em;
    border-bottom: 1px solid #f0f0f0;
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight );
}

.advanced_select {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}    

.mobile_header {
    background-color: #001a33;
    height: 70px;
    width: 100%;
    float: left;
    display: none;
    position: relative;
}


.mobile-trigger-user, .mobile-trigger {
    font-size: 14px;
    color: #fff;
    height: 70px;
    display: inline;
    float: left;
    cursor: pointer;
    position: absolute;
    top: 0px;
}
.mobile_header i {
    color: #fff;
    font-size: 17px;
    margin: 26px;
}
.mobile-trigger-user:hover i, .mobile-trigger:hover i {
    color: #0073e1;
}

.mobile-logo img {
    margin: 0px auto;
    max-height: 70px;
    width: auto;
    max-width: 200px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    left: 0px;
    right: 0px;
    position: absolute;
}

.mobile-trigger-user, .mobile-trigger {
    font-size: 14px;
    color: #fff;
    height: 70px;
    display: inline;
    float: left;
    cursor: pointer;
    position: absolute;
    top: 0px;
}

.mobile-trigger-user {
    
    right: 0px;
}

#mobilewrapperuser{
    transform: translate3d(330px,0,0);
    transition: transform .25s ease;
    opacity: 0;
    visibility: hidden;
}

.mobilenavs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 330px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    overflow-y: auto;
    background-color: #161d21;
    opacity: 0;
    visibility: hidden;
    transition: transform .25s ease;
    /*-webkit-transform: translate3d(-330px,0,0);*/
    transform: translate3d(-330px,0,0);
}
.mobile-nav-close {
    float: right;
    clear: both;
    position: absolute;
    line-height: 1;
    top: 22px;
    right: 24px;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 99;
    color: #ffffff;
   
}
.mobile-nav-close i{
    font-weight: 700;
}
.mobilenavs .mobile-nav-tabs {
    clear: both;
    background-color: #001a33;
}

.mobilenavs .mobile-nav-tabs ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding-left: 2rem;
    height: 70px;
}

.mobilenavs .mobile-nav-tabs ul .mobile-pages-title {
    margin-right: 15px;
}

.mobilenavs .mobile-nav-tabs ul li {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    color: #ffffff;
}

.mobilenavs .mobile-nav-tabs ul li.active:before {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
}
.mobilenavs .mobile-nav-tabs ul li:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #ffffff;
}
.mobilenavs .mobile-nav-tabs ul .mobile-categories-title {
    margin-left: 15px;
}

.mobilenavs .mobile-menu-tab {
    padding: 0 30px 0 10px;
}

.mobile-navigation ul>li.menu-item, .mobile-navigation-categories ul>li.menu-item {
    position: relative;
    line-height: 20px;
}

nav .sub-menu2 {
    display: none;
}

.mobile-navigation ul>li.menu-item>a, .mobile-navigation-categories ul>li.menu-item>a {
    display: block;
    padding: 15px 0;
    font-size: 14px;
    border-bottom: 1px solid;
    border-bottom-color: #efefef;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}

.mobile-navigation ul ul.sub-menu>li.menu-item>a, .mobile-navigation-categories ul ul.sub-menu>li.menu-item>a {
    font-size: 14px;
    text-transform: unset;
    font-weight: 400;
    padding: 2px 0 2px 13px;
    border-bottom: none;
    line-height: 24px;
    color: var(--text);
}

nav .angledown {
    background-color: #161d21;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 17px 0;
    line-height: 1;
    /*width: 30px;*/
    text-align: right;
    border: none;
    font-size: 16px;
    color: #ffffff;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.mobilewrapper-user {
    min-height: 100%;
    position: fixed;
    overflow-x: hidden!important;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    z-index: 9999;
}

.snap-drawers {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

.snap-drawer {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    width: 265px;
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    background-color: #161d21;
}

.snap-drawer-right {
    right: 0px;
    padding-top: 18px;
}

.mobilemenu-close-user i, .mobilemenu-close i {
    font-size: 15px;
    padding: 3px 0px 0px 8px;
}
.mobilemenu-close-user, .mobilemenu-close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 7px;
    color: #FFFFFF;
}

.mobilewrapper-user .login_sidebar {
    width: 260px;
    display: inline-block;
    margin-left: 6px;
}

h3 {
    font-size: 24px;
    line-height: 1.3em;
    margin-bottom: 15px;
    font-weight: 700;
}

.login_form {
    padding: 9px 15px 15px 15px;
    border: 0px solid #e5e5e5;
    width: 100%;
    border-radius: 2px;
    display: inline-block;
}
#login_user_mobile, #login_pwd_mobile{
    margin-bottom: 15px;
}

#widget_register_mobile, #forgot_pass_mobile ,#user_terms_register_mobile_label,
#widget_login_mobile, #user_terms_register_mobile_link, #return_login_mobile{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

#login-div-title-mobile, #register-div-title-mobile, #forgot-div-title-mobile{
    font-size: 16px;
    color: #fff;
    padding-left: 13px;
}


#forgot_email_mobile{
    margin-bottom: 15px;
}

#forgot-pass-div-mobile{
    display: none;
}

.login_form .form-control{
    margin-bottom: 15px;
    font-size: 14px;
}

.login_sidebar .show_hide_password{
    top:  10px;
}

.mobilelanguage a{
    color: #000000;
    height: 30px;
    padding: 0px;
    margin-left: 30px;
}
.mobilelanguage ul{
    width: 3em;
}

.mobilelanguage .dropdown-item:hover{
    background-color: #ffffff;
    color: #0073e1;
}

.languagemobile {
    padding: 10px 0px 20px 0px;
    clear: both;
    width: 80%;
    height: 55px;
    margin: 0px 30px;
    border-top: 1px solid #ffffff;
}

.langm {
    margin-right: 10px;
}

@media only screen and (max-width: 550px){
    .select_real_estate .column-gap-default .inner-column{
        width: 23%;
    }
    .elementor-icon{
        font-size: 40px;
    }
}

@media (min-width: 768px){
    .container {
    width: 750px;
    }
    .field-group-message{
    width: 20%;
    height: fit-content;
    }
}

@media (min-width: 992px){
    .container {
    width: 970px;
    }
}


@media (min-width: 1200px){
    .container {
    width: 1170px;
    }
}
@media only screen and (max-width: 1023px){
    .mobile_header {
        display: block;
    }
    .top_bar_wrapper, .header_wrapper  {
        display: none;
    }
    .field-group-message{
        width: 100%;
    }
    .group-message{
    width: 100%!important;
    }
    .header_bar{
        position: absolute;
    }
   
}

@media (max-width: 1170px){
    .mobilelanguage{
    display: none;
    }
    
}
@media (max-width: 1250px){
    .header_phone{
    display: none;
    }
}
@media only screen and (max-width: 1440px){
    .full_width_header .top_bar {
    padding: 0 55px;
    }
    .full_width_header .logo {
    padding-left: 0;
    }
    .full_width_header .user_menu {
    margin-right: 55px;
    }
}
@media only screen and (max-width: 1366px){
    .full_width_header .top_bar {
    padding: 0 40px;
    }
    .header_wrapper_inside.full_width_header {
    padding: 0;
    }

    .full_width_header .logo {
    padding-left: 35px;
    }

    .full_width_header .user_menu {
    margin-right: 40px;
    }
}

