body {
    color: #5c727d;
    background-color: #F5FAFF;
    font-family: 'Roboto', sans-serif;
    line-height: 1em;

    --e-global-color-primary: #222222;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-412125ce: #6EC1E4;
    --e-global-color-28be7bf1: #4054B2;
    --e-global-color-64812166: #23A455;
    --e-global-color-7be179ad: #000;
    --e-global-color-5cc19614: #FFF;
    --e-global-typography-primary-font-family: "Roboto Sans";
    --e-global-typography-primary-font-weight: 800;
    --e-global-typography-secondary-font-family: "Roboto Sans";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto Sans";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto Sans";
    --e-global-typography-accent-font-weight: 500;
}

html, body, div, span, applet, object, iframe, .advanced_search_map h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
}

ul {
    list-style-type: square;
    margin: 0px 0px 26px 26px;
    list-style: none;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

a img {
    border: 0;
}

img {
    vertical-align: middle;
}
.right-top-widet .textwidget {
    transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
}

a:hover {
    color: #0067ed;
}

.right-top-widet .textwidget:hover{
    color: #0073e1 !important;
}
.widget_custom_html{
    background: #0073b1;
    width: 40px;
    margin: 0px;
    text-align: center;
    padding: 0px;
}
 .widget_custom_html:hover{
    background: #0073b1;
    width: 40px;
    margin: 0px;
    text-align: center;
    padding: 0px;
    background: #fff !important;

}
 .widget_custom_html:hover a{
  color: #0067ed !important;
 }

.background_header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    --widgets-spacing: 20px;
    width: 100%;
    height: 700px;
}
.background_header_shadow{
    background-color: transparent;
       background: linear-gradient(to right, #000000 30%, #fff 70%);
    opacity: 0.2;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 750px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.header_bar{
    background: transparent;
    border-bottom: none;
    width: 100%;
    float: left;
    position: fixed;
    top: 0px;
    z-index: 100;
    transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
}

.wd_user_menu li, li.advanced_search_sidebar, li.measurement_unit_widget, li.multiple_currency_widget, li.loginwd_sidebar, li.social_sidebar, li.property_categories, li.contact_sidebar, li.facebook_widget_like, li.featured_sidebar, li.latest_listings, li.mortgage_calculator_li, li.zillow_widget {
    list-style-type: none;
}

.top_bar_wrapper.transparent_border_topbar .left-top-widet .widget-container.social_sidebar {
    border-right: 0px;
}


.top_bar_wrapper.transparent_border_topbar .top_bar .social_sidebar {
    padding: 0px;
}

.top_bar .social_sidebar {
    margin-bottom: 0px;
}

.top_bar .widget-container {
    display: inline;
    margin-bottom: 0px;
}

.left-top-widet li, .right-top-widet li {
    float: left;
    display: inline;
}

.widget-container {
    margin-bottom: 30px;
}

.master_header{
    background-color: #FFF;
    float: left;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 1200px;
    -webkit-backface-visibility: hidden;
}

.wide {
    width: 100%;
    background-color: #f7f7f7;
}

.master_header.wide {
    width: 100%;
}

.master_header.header_transparent {
    background: transparent;
    border-bottom: none;
}

.top_bar_wrapper.transparent_border_topbar {
    border-bottom: 1px solid rgba(255,255,255,0.09);
}
.social_sidebar_internal a{
    color: #fff !important;
}
.top_bar_wrapper.transparent_topbar {
    background-color: #cb0109;
}

.top_bar_wrapper {
    background-color: #111111;
}

.top_bar_wrapper {
    width: 100%;
    background-color: #f3f3f3;
    z-index: 99;
    float: left;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    z-index: 1;
    position: Relative;
}

.full_width_header.wide .top_bar, .full_width_header .top_bar {
    width: 100%;
    max-width: 100%;
}

.wide .top_bar {
    width: 1200px;
    margin: 0px auto;
}

.full_width_header .top_bar {
    padding: 0px 100px 0px 100px;
}

.top_bar a {
    color:  #ffffff;
    font-size: 17px;
    padding: 11px 0px;
}

.top_bar {
    height: 40px;
    line-height: 50px;
    width: 100%;
    vertical-align: middle;
    padding-left: 40px;
    padding: 0px 45px 0px 45px;
    font-size: 13px;
    color: #b6b6b6;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.left-top-widet {
    display: inline;
    float: left;
}

.top_bar .xoxo {
    margin: 0px;
}

.transparent_border_topbar .top_bar .social_sidebar_internal a {
    font-size: 12px;
    font-weight: 300;
    /*border-right: 1px solid #ccc;*/
    padding: 0px 13px!important;
}

#header4_footer .social_sidebar_internal a, .top_bar .social_sidebar_internal a {
    padding: 0px 5px 0px 5px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: 0%;
}

#header4_footer .social_sidebar_internal a:hover, .top_bar .social_sidebar_internal a:hover {
    color: #0073e1;
}

.transparent_border_topbar .top_bar .social_sidebar_internal i {
    margin-right: 5px;
    text-align: center;
}

.login_links i, .top_bar i {
    width: 13px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 13px;
}


.elementor-template-full-width .header_transparent .container.content_wrapper {
    margin-top: 0px;
}

.page .single-content, .page .content_wrapper, .home.page .single-content, .home.page .content_wrapper {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.elementor-template-full-width .container.content_wrapper {
    width: 100%;
    margin-top: 90px;
}

.elementor-template-full-width .content_wrapper {
    padding: 0px 0px 0px 0px;
}

.content_wrapper {
    width: 1200px;
    margin: 0px auto;
    background-color: #f7f7f7;
    padding: 0px 15px 30px 15px;
    z-index: 100;
    position: relative;
}

.elementor-section.top-section{
    background-image: url(https://wpresidence.net/wp-content/uploads/2021/12/wpresidece-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -18px;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
}
.container {
    padding: 0px;
    width: 1200px;
    position: relative;
    z-index: 2;
}
.right-top-widet {
    display: flex;
    float: right;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
}

.top_bar_wrapper.transparent_border_topbar .right-top-widet .widget-container {
    /*border-left: 1px solid #ccc;*/
    padding: 0px 10px;
}

.transparent_border_topbar .textwidget {
    margin-left: 0px;
    color: #ffffff;
}

.logo{
    justify-content: flex-start;
    min-width: 300px;
}

.header_wrapper {
    display: flex;
    width: 100%;
    margin: 0px auto;
    width: 100%;
    margin: 0px auto;
    height: 90px;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
    /* background: rgba(31, 36, 55, 0.78); */
    background: rgb(239 82 82 / 41%);
    position: relative;
    float: left;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.header_wrapper_inside.full_width_header {
    max-width: 100%;
    width: 100%!important;
}

.header_wrapper_inside {
    margin: 0px auto;
    position: relative;
    height: 100%;
}

.logo {
    display: inline-block;
    margin-top: 0px;
    float: left;
    height: 100%;
}

.logo a {
    height: 100%;
    color: #333;
    -webkit-transition: color 0.4s linear;
}

.logo img {
    top: 50%;
    position: absolute;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    ms-transform: translate(0,-50%);
    max-height: 160px;
    max-width: 160px;
    margin-top: 0px;
}

.video_container_modal, #property_details_modal_wrapper, #modal_login_wrapper {
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9999;
}

.property_details_modal_back, .modal_login_back {
    background-color: #111;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.modal_login_container {
    background-color: #fff;
    left: 0;
    right: 0;
    top: 8%;
    width: 750px;
    height: 550px;
    z-index: 1;
    position: absolute;
    margin: 0px auto;
    box-shadow: 3px 5px 13px 0px rgb(29 29 29 / 5%);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}


.menu_user_tools {
    border-radius: 50%;
    width: 15px;
    height: 20px;
    margin: 0px;
    float: left;
    display: inline;
    cursor: pointer;
    font-size: 14px;
    color: #0073e1;
}
.dropdown, .dropup {
    position: relative;
}

.navicon-button {
    display: inline-block;
    position: relative;
    padding: 6px;
    transition: 0.25s!important;
    cursor: pointer;
    user-select: none;
    opacity: .8;
    width: 30px;
    height: 30px;
    float: left;
}
.navicon {
    position: relative;
    width: 18px;
    height: 2px;
    background: #333;
    transition: 0.5s;
    border-radius: 2.5rem;
}

.nav-notlog {
    display: none;
}

.displaysearch{
    display: block !important;
}

#search, #search2{
    display: none;
}


.submit_action {
    float: right;
    line-height: 25px;
    position: relative;
    top: 10px;
    display: inline;
    width: 30px;
    margin-top: 7px;
    font-size: 16px;
    color: #fff;
    margin-right: 12px;
    border-left: 1px solid rgba(255,255,255,.09);
    padding-left: 20px;
    transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
}
svg:not(:root) {
    overflow: hidden;
}
.submit_action svg {
    color: #8a959e;
    width: 30px;
    height: 30px;
    fill: #ffffff;
    margin: 0px 0px 0px 0px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
}

.header_phone {
    float: right;
    display: inline;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 700;
    color: #222;
    margin-right: 12px;
    transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    margin-right: 20px;
    line-height: 30px;
}


.agent_sidebar_mobile svg, .header_phone svg {
    color: #8a959e;
    height: 21px;
    fill: #ffffff;
    margin: 0px 0px 0px 0px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
}

.cmt-search-overlay2 {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 300px;
    background: #ffffff;
    top: 70px;
    border-top: 3px solid;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    z-index: 2;
}

.header_type1.header_center #access {
    float: right;
    display: block;
    right: 300px;
    position: absolute;
    height: 100%;
    margin: 0px auto;
    max-width: 850px;
}

#access .menu {
    height: 100%;
}

#access ul {
    font-size: 13px;
    list-style: none;
    padding-left: 0;
    z-index: 99999;
}

.menu > li {
    height: 100%;
    line-height: 90px;
}
.hover_type_3 .menu > li {
    margin-right: 5px;
}

.hover_type_3 #access .menu > li:hover>a {
    /*background: #0073e1!important;*/
    color: #fff936;
    display: inline;
    padding: 7px 15px;
    border-radius: 2px;
    transition: visibility 0.3s ease;
}

#access ul li:hover > ul {
    top: 90px;
    opacity: 1;
    visibility: visible;
}

#access ul ul {
    float: left;
    margin: 0;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    top: 130px;
    margin-left: 3px;
    padding: 15px 0px;
    width: 205px;
    background-color: #fff;
    -webkit-box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    -webkit-transition: all .0s ease, visibility .0s ease;
    -o-transition: all .0s ease, visibility .0s ease;
    transition: all .0s ease, visibility .0s ease;
    line-height: 0px;
}

#access ul ul ul{
    left: 205px;
}

#access ul ul li:hover ul{
    top: 0px;
}

#access li {
    display: inline-block;
    text-align: left;
    position: relative;
    -webkit-transition: padding 0.35s ease;
    -moz-transition: padding 0.35s ease;
    -o-transition: padding 0.35s ease;
    transition: padding 0.35s ease;
    -webkit-backface-visibility: hidden;
}

#access li:hover{
    visibility: visible;
    opacity: 1;
}

#access li:hover .sub-menu li>a{
    transform: translateY(-10px);
}

#access ul ul li {
    width: 100%;
    padding: 0px 15px;
}

#access a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    color: #fff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}
#access .sub-menu li>a {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 20);
    -ms-transform: matrix(1, 0, 0, 1, 0, 20);
    transform: matrix(1, 0, 0, 1, 0, 20);
    -webkit-transition: opacity .75s ease, color .5s ease, -webkit-transform .75s ease;
    transition: opacity .75s ease, -webkit-transform .75s ease;
    -o-transition: opacity .75s ease, transform .75s ease;
    transition: opacity .75s ease, transform .75s ease;
    border-bottom:  1px solid rgba(0, 0, 0, 0.05);
}
.menu_label {
    background: #e9b97b;
    display: inline-block;
    margin-left: 5px;
    font-size: 9px;
    color: #fff;
    padding: 0px 5px;
    line-height: 12px;
    height: 12px;
    vertical-align: text-top;
    font-weight: 400;
    border-radius: 2px;
    letter-spacing: 0.3px;
    transform: translate(0px,-3px);
}

#access ul ul li.wpestate_megamenu_col_1 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_2 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_3 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_4 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_5 a.menu-item-link, #access ul ul li.wpestate_megamenu_col_6 a.menu-item-link {
    font-size: 14px;
    color: #333;
    font-weight: 300;
}
#access ul ul a {
    top: 10px;
    position: relative;
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    line-height: 1.4em;
    padding: 13px 0px 13px 0px;
    text-transform: none;
    width: 100%;
}

.sub-menu li:hover {
    background-color: #0073e1;
    color: #fff;
    border: none;
    padding: 0 60px;
}


/*hover the li menu*/
#access ul ul li:hover{
    padding: 0 30px;
}

.full_width_header .header_type1.header_center #access ul li.with-megamenu>ul.sub-menu {
    margin-left: auto!important;
    margin-right: auto!important;
    left: 0!important;
    right: 0!important;
}

.header_type5.header_right #access ul li.with-megamenu>ul.sub-menu, #access ul li.with-megamenu:hover>ul.sub-menu {
    max-width: 1110px;
}

#access ul li.with-megamenu>ul.sub-menu, #access ul li.with-megamenu:hover>ul.sub-menu {
    top: 90px;
    width: 100%;
    position: fixed;
    margin-left: auto!important;
    margin-right: auto!important;
    left: 0!important;
    right: 0!important;
}

#header_type3_wrapper #access ul li.with-megamenu>ul.sub-menu, #access ul li.with-megamenu:hover>ul.sub-menu {
    left: -300px;
    height: auto;
    top: 90px;
}
.header_type1.header_center #access ul {
    margin: 0;
    text-align: center;
}


#access ul li.with-megamenu>ul.sub-menu {
    top: 63px;
}

.wpestate_megamenu_class:before {
    content: "";
    position: absolute;
    width: 5000px;
    top: 0;
    bottom: 0;
    left: -100%;
    background-color: #fff;
    /*-webkit-box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);*/
}

#access ul li.with-megamenu:hover>ul.sub-menu li {
    transition-delay: 0.3s;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
}

#access ul ul.wpestate_megamenu_class li {
    padding: 0px 0px;
}
#access ul ul li.wpestate_megamenu_col_4 {
    width: 25%;
    float: left;
}

#access .menu>.with-megamenu:hover ul ul {
    visibility: visible;
    opacity: 1;
    padding-top: 30px;
    margin-left: 1px;
    position: Relative;
    left: 0px;
    margin: 0px;
    top: 0px;
    width: 100%;
    border: none!important;
    box-shadow: none;
    background: Transparent;
}

.megamenu-title:hover{
    color: #0073e1;
}
#access ul li.with-megamenu:hover>ul.sub-menu li > ul.sub-menu li {
    transition-delay: 0s;
}

#access .sub-menu li:hover>a, #access .sub-menu li:hover>a:active, #access .sub-menu li:hover>a:focus {
    color: #fff;
}

.header5_user_wrap .header_phone svg, .header5_user_wrap .header_phone a, .header_transparent .header_phone a, .header_transparent .header_phone svg, .header_transparent .submit_action svg {
    fill: #fff;
}
.header_transparent .navicon:before, .header_transparent .navicon:after, .header_transparent .navicon {
    background: #ffffff;
}
.header_transparent .customnav.hover_type_3 #access ul.menu >li>a:hover, .header_transparent .customnav.hover_type_4 #access ul.menu >li>a:hover, .header_transparent .hover_type_3 #access ul.menu >li>a:hover, .header_transparent .hover_type_4 #access ul.menu >li>a:hover, .header_transparent .hover_type_3 #access .menu > li:hover>a .header_transparent .hover_type_4 #access .menu > li:hover>a, .header_transparent .menu_user_tools, .header_transparent .submit_action, .header_transparent #access ul.menu >li>a {
    color: #ffffff;
}

#access ul ul li.wpestate_megamenu_col_1, #access ul ul li.wpestate_megamenu_col_2, #access ul ul li.wpestate_megamenu_col_3, #access ul ul li.wpestate_megamenu_col_4, #access ul ul li.wpestate_megamenu_col_5, #access ul ul li.wpestate_megamenu_col_6 {
    opacity: 0;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    margin-top: -5px;
}

#access ul ul li.wpestate_megamenu_col_1, #access ul ul li.wpestate_megamenu_col_2, #access ul ul li.wpestate_megamenu_col_3, #access ul ul li.wpestate_megamenu_col_4, #access ul ul li.wpestate_megamenu_col_5, #access ul ul li.wpestate_megamenu_col_6, #access ul ul li.wpestate_megamenu_col_1 a, #access ul ul li.wpestate_megamenu_col_2 a, #access ul ul li.wpestate_megamenu_col_3 a, #access ul ul li.wpestate_megamenu_col_4 a, #access ul ul li.wpestate_megamenu_col_5 a, #access ul ul li.wpestate_megamenu_col_6 a {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height: 1.4em;
    padding: 7px 13px;
    text-transform: none;
    overflow: hidden;
    background: #ffffff;
}
#access .with-megamenu ul ul a {
    border: none;
}

#access ul ul li.wpestate_megamenu_col_1 .megamenu-title, #access ul ul li.wpestate_megamenu_col_2 .megamenu-title, #access ul ul li.wpestate_megamenu_col_3 .megamenu-title, #access ul ul li.wpestate_megamenu_col_4 .megamenu-title, #access ul ul li.wpestate_megamenu_col_5 .megamenu-title, #access ul ul li.wpestate_megamenu_col_6 .megamenu-title, #access ul ul li.wpestate_megamenu_col_1 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_2 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_3 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_4 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_5 .megamenu-title a, #access ul ul li.wpestate_megamenu_col_6 .megamenu-title a {
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

.master_header_sticky{
    top: -53px;
}

.user_menu .header_phone a{
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    user-select: none;
    position: relative;
    top: 0;
    transition: all .2s ease-in-out;
    line-height: normal;
    font-size: 14px;
    padding: 13px 31px 13px 31px;
    z-index: 2;
    border-color: #FFF;
    background-color: transparent;
    border-radius: 2em;

}

.customnav .header_phone svg{
    fill: #0073e1;
}
.customnav .submit_action svg{
    fill: #0073e1;
}

.mobile_header {
    background-color: #ed1c24;
    height: 70px;
    width: 100%;
    float: left;
    display: none;
    position: relative;
}


.mobile-trigger-user, .mobile-trigger {
    font-size: 14px;
    color: #fff;
    height: 70px;
    display: inline;
    float: left;
    cursor: pointer;
    position: absolute;
    top: 0px;
}
.mobile_header i {
    color: #fff;
    font-size: 17px;
    margin: 26px;
}
.mobile-trigger-user:hover i, .mobile-trigger:hover i {
    color: #0073e1;
}

.mobile-logo img {
    margin: 0px auto;
    max-height: 70px;
    width: auto;
    max-width: 200px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    left: 0px;
    right: 0px;
    position: absolute;
}

.mobile-trigger-user, .mobile-trigger {
    font-size: 14px;
    color: #fff;
    height: 70px;
    display: inline;
    float: left;
    cursor: pointer;
    position: absolute;
    top: 0px;
}

.mobile-trigger-user {

    right: 0px;
}

#mobilewrapperuser{
    transform: translate3d(330px,0,0);
    transition: transform .25s ease;
    opacity: 0;
    visibility: hidden;
}

.mobilenavs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 330px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    overflow-y: auto;
    background-color: #161d21;
    opacity: 0;
    visibility: hidden;
    transition: transform .25s ease;
    /*-webkit-transform: translate3d(-330px,0,0);*/
    transform: translate3d(-330px,0,0);
}
.mobile-nav-close {
    float: right;
    clear: both;
    position: absolute;
    line-height: 1;
    top: 22px;
    right: 24px;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 99;
    color: #ffffff;

}
.mobile-nav-close i{
    font-weight: 700;
}
.mobilenavs .mobile-nav-tabs {
    clear: both;
    background-color: #001a33;
}

.mobilenavs .mobile-nav-tabs ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding-left: 2rem;
    height: 70px;
}

.mobilenavs .mobile-nav-tabs ul .mobile-pages-title {
    margin-right: 15px;
}

.mobilenavs .mobile-nav-tabs ul li {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    color: #ffffff;
}

.mobilenavs .mobile-nav-tabs ul li.active:before {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
}
.mobilenavs .mobile-nav-tabs ul li:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #ffffff;
}
.mobilenavs .mobile-nav-tabs ul .mobile-categories-title {
    margin-left: 15px;
}

.mobilenavs .mobile-menu-tab {
    padding: 0 30px 0 10px;
}

.mobile-navigation ul>li.menu-item, .mobile-navigation-categories ul>li.menu-item {
    position: relative;
    line-height: 20px;
}

nav .sub-menu2 {
    display: none;
}

.mobile-navigation ul>li.menu-item>a, .mobile-navigation-categories ul>li.menu-item>a {
    display: block;
    padding: 15px 0;
    font-size: 14px;
    border-bottom: 1px solid;
    border-bottom-color: #efefef;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}



.mobile-navigation ul ul.sub-menu>li.menu-item>a,
.mobile-navigation-categories ul ul.sub-menu>li.menu-item>a {
    font-size: 14px;
    text-transform: unset;
    font-weight: 400;
    padding: 2px 0 2px 13px;
    border-bottom: none;
    line-height: 24px;
    color: #ffffff;
}
.levelmenu_li1>a{
    display: block;
    padding: 15px 0;
    font-size: 14px;
    /*border-bottom: 1px solid;*/
    /*border-bottom-color: #efefef;*/
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}

.menu-item .sub-menu{
    display: none;
    font-size: 14px;
    border-bottom: 1px solid;
    border-bottom-color: #efefef;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}

nav .angledown {
    background-color: #161d21;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 17px 0;
    line-height: 1;
    /*width: 30px;*/
    text-align: right;
    border: none;
    font-size: 16px;
    color: #ffffff;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.mobilewrapper-user {
    min-height: 100%;
    position: fixed;
    overflow-x: hidden!important;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    z-index: 9999;
}

.snap-drawers {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

.snap-drawer {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    width: 265px;
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    background-color: #161d21;
}

.snap-drawer-right {
    right: 0px;
    padding-top: 18px;
}



h3 {
    font-size: 24px;
    line-height: 1.3em;
    margin-bottom: 15px;
    font-weight: 700;
}
.user_menu{
    display: inline-block;
    float: right;
    margin-right: 45px;
    color: #0073e1;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    margin-top: -25px;
    position: absolute;
    right: 0px;
    top: 50%;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.header-info-widget{
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.cmt-search-overlay {
    position: absolute;
    top: 100%;
    right: -20px;
    width: 400px;
    background: #ffffff;
    top: 70px;
    border-top: 3px solid;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    z-index: 2;
}
.cmt-search-overlay {
    background-color: #ffffff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cmt-search-overlay {
    border-top-color: #ed1c24;
}

.cmt-search-overlay2 {
    border-top-color: #ed1c24;
}

.cmt-search-overlay.st-show{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cmt-search-overlay2.st-show{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cmt-search-overlay .w-search-form-h {
    display: table;
    height: 100%;
    width: 100%;
}
.cmt-search-overlay2 .w-search-form-h {
    display: table;
    height: 100%;
    width: 100%;
}

.cmt-search-overlay .w-search-form-row {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    position: relative;
    padding: 20px 10px 20px 20px;
}
.cmt-search-overlay2 .w-search-form-row {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    position: relative;
    padding: 20px 10px 20px 20px;
}

.cmt-search-overlay .w-search-form-row:before {
    position: absolute;
    right: 22px;
    top: -8px;
    width: 47px;
    height: 47px;
    text-align: center;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid;
    content: " ";
}

.cmt-search-overlay2 .w-search-form-row:before {
    position: absolute;
    right: 22px;
    top: -8px;
    width: 47px;
    height: 47px;
    text-align: center;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid;
    content: " ";
}

.cmt-search-overlay .w-search-form-row:before {
    border-bottom-color: #ed1c24;
}

.cmt-search-overlay2 .w-search-form-row:before {
    border-bottom-color: #ed1c24;
}


.cmt-search-overlay .cmt-site-searchform input[type="search"] {
    font-size: 14px;
    text-align: left;
    height: 45px;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none !important;
    background-color: #f7f9fe;
    color: #333;
    width: 85%;
    line-height: 50px;
    float: left;
    border: 1px solid #f1f1f1;
    outline: none;
}

.cmt-search-overlay2 .cmt-site-searchform input[type="search"] {
    font-size: 14px;
    text-align: left;
    height: 45px;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none !important;
    background-color: #f7f9fe;
    color: #333;
    width: 85%;
    line-height: 50px;
    float: left;
    border: 1px solid #f1f1f1;
    outline: none;
}

.cmt-search-overlay .cmt-site-searchform button {
    font-size: 15px;
    width: 13%;
    border: 0;
    border-radius: 0;
    height: 45px;
    text-align: center;
    display: block;
    line-height: 45px;
    color: #fff;
    float: left;
    background: #ed1c24;
}

.cmt-search-overlay2 .cmt-site-searchform button {
    font-size: 15px;
    width: 13%;
    border: 0;
    border-radius: 0;
    height: 45px;
    text-align: center;
    display: block;
    line-height: 45px;
    color: #fff;
    float: left;
    background: #0067ed;
}

.w-search-input i {
    margin: 0px;
}

.cmt_floting_customsett {
    position: fixed;
    top: 50%;
    right: 0;
    padding: 3px 0 10px;
    margin: -65px 0 0;
    background-color: #fff;
    box-shadow: 0 6px 12px rgb(0 0 0 / 25%);
    z-index: 99999;
}

.cmttheme_fbar_icons {
    display: block;
    position: relative;
    width: 55px;
    height: 45px;
    line-height: 52px;
    text-align: center;
}

.cmttheme_fbar_icons i {
    display: inline-block;
    vertical-align: middle;
    transition: .3s;
    font-size: 21px;
    color: #1d2143;
}

.cmttheme_fbar_icons > span:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -10px;
    right: -15px;
    width: 15px;
    background-color: #fff;
    height: 55px;
}

.cmttheme_fbar_icons:hover > span {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.cmttheme_fbar_icons > span {
    display: block;
    position: absolute;
    right: 100%;
    top: 0;

    width: 150px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgb(0 0 0 / 25%);
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    color: #1d2143;
    transform: translateX(-5px);
    transition: 0.5s ease;
    padding: 0 20px;
}

.cmttheme_fbar_icons > span:hover, .cmttheme_fbar_icons:hover i {
    color: #0067ed;
}

#scroll_up {
    font-weight: 900;
    color: #fff;
    position: fixed;
    display: none;
    right: 34px;
    bottom: 34px;
    z-index: 999;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 25px;
    text-align: center;
    padding-top: 6px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #ed1c24;
    cursor: pointer;
}


.carousel .header_phone{
  position: absolute;
  top: 1px;
  transform: translate(800px,250px);
}

.carousel .header_phone a{
    color: #fff; background: #0073e1;
    border-color: #FFF;  border-radius: 2em;
    padding: 13px 31px 13px 31px;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
}


.header_phone:hover a{
    color: #0073e1;
    background: #fff;
}
.carousel-control-prev {
    left: -60px !important;
}

#scroll_up.top-visible {
    font-size: 22px;
    height: 40px;
    width: 40px;
}
#scroll_up.top-visible {
    animation: jump 4s infinite;
}
@keyframes jump {
  0% { bottom: 20px; } 50% { bottom: 40px; } 100% { bottom: 20px; }
}

.editlineheightmenu{
    line-height: 70px !important;
}

.carousel-item img{
    margin-top: 50px;
    width: 100%;
    max-height: 700px;
    min-height: 350px;
    object-fit: fill;
}

.descriptionheader{
    top: 10px;
    position: absolute;
    transform: translate(100px,200px);
    line-height: 50px;
    color: #fff;
    z-index: 99;
}
.editsubmenu_ul:hover ul{
    top: 70px !important;
}

.editsubmenu_ul2:hover ul{
    top: 0px !important;
}


nav .angledown2 {
    background-color: #161d21;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 17px 0;
    line-height: 1;
    /*width: 30px;*/
    text-align: right;
    border: none;
    font-size: 16px;
    color: #ffffff;
}

@media only screen and (max-width: 1023px){
    .mobile_header {
        display: block;
    }
    .top_bar_wrapper, .header_wrapper  {
        display: none;
    }
    .field-group-message{
        width: 100%;
    }
    .group-message{
    width: 100%!important;
    }
    .header_bar{
        position: absolute;
    }
    .background_header{
    background-position: 65% 20%;
    height: auto;
    top: 50px;
    }

    .carousel-control-prev {
    top: -50px;
    left: 15px !important;
    width: 6%;
    }
    .carousel-control-next {
    top: -50px;
    right: 10px !important;
    width: 6%;
    }
    .carousel .header_phone{
        transform: translate(500px,350px);
    }

    .descriptionheader{
    top: 10px;
    position: absolute;
    transform: translate(50px,100px);
    line-height: 30px;
    color: #fff;
    z-index: 99;
    }

    .descriptionheader span{
      font-size: 25px !important;
    }
}

@media only screen and (max-width: 768px){
    .carousel .header_phone {
        transform: translate(300px,350px) !important;

    }
    .descriptionheader{
    top: 10px;
    position: absolute;
    transform: translate(50px,100px);
    line-height: 20px;
    color: #fff;
    z-index: 99;
    }

    .descriptionheader span{
      font-size: 20px !important;
    }
}
@media only screen and (max-width: 550px){
    .select_real_estate .column-gap-default .inner-column{
        width: 23%;
    }
    .elementor-icon{
        font-size: 40px;
    }
    .carousel .header_phone{
        transform: translate(100px,300px) !important;
    }
    .descriptionheader{
    top: 10px;
    position: absolute;
    transform: translate(20px,100px);
    line-height: 20px;
    color: #fff;
    z-index: 99;
    }

    .descriptionheader span{
      font-size: 20px !important;
    }
}


@media (min-width: 768px){
    .container {
    width: 750px;
    }
    .field-group-message{
    width: 20%;
    height: fit-content;
    }
}

@media (min-width: 992px){
    .container {
    width: 970px;
    }
}


@media (min-width: 1200px){
    .container {
    width: 1170px;
    }
}


@media (max-width: 1170px){
    .mobilelanguage{
    display: none;
    }

}
@media (max-width: 1250px){
    /*.header_phone{
    display: none;
    }*/
}
@media only screen and (max-width: 1440px){
    .full_width_header .top_bar {
    padding: 0 55px;
    }
    .full_width_header .logo {
    padding-left: 0;
    }

}
@media only screen and (max-width: 1366px){
    .full_width_header .top_bar {
    padding: 0 50px;
    }
    .header_wrapper_inside.full_width_header {
    padding: 0;
    }

    .full_width_header .logo {
    padding-left: 35px;
    }

}
